nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    padding:20px;
}
a{
    text-decoration: none;
    color: black;
}

.left-side{
    display:flex;
    align-items: center;

}

.logoContent{
    margin:0 20px;
    font-family: 'Lobster', cursive;
    font-size:4vw;
}
.logoContent img{
    margin:0 10px;
    width:4vw;
    height:4vw;
    

}

.left-side a{
    margin:0 20px;
    display:flex;
}

.right-side a{
    margin:0 2vw;
    font-size: 2vw;
    text-decoration: underline;
}

.right-side .connexion{
    color:white;
    display: inline-block;
    border-radius: 50px;
    background: rgb(14,0,255);
    background: linear-gradient(202deg, rgba(14,0,255,1) 0%, rgba(255,0,151,1) 100%);
    box-shadow: 5px 5px 50px 10px rgba(255, 0, 98, 0.404);
-webkit-box-shadow: 5px 5px 50px 10px rgba(255, 0, 98, 0.404);
-moz-box-shadow: 5px 5px 50px 10px rgba(255, 0, 98, 0.404);
text-decoration: none;

}

.connexion{
    padding: 1vw 3vh;
}

