.quizz-div{
    display:flex;
  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.question{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 5px 5px 50px 10px rgba(255, 0, 98, 0.404);
    -webkit-box-shadow: 5px 5px 50px 10px rgba(255, 0, 98, 0.404);
    -moz-box-shadow: 5px 5px 50px 10px rgba(255, 0, 98, 0.404);
    border-radius: 20px;
    padding:20px;
    margin: 25px;
    width: 1000px;
    word-wrap: break-word;
    transition: 0.2s ease-in-out;
}



.question:hover{
    box-shadow: 20px 20px 50px 10px rgba(0, 26, 255, 0.404);
    -webkit-box-shadow: 20px 20px 50px 10px rgba(0, 26, 255, 0.404);
    -moz-box-shadow: 20px 20px 50px 10px rgba(0, 26, 255, 0.404);
}

.question p{
    margin:10px 0;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;

}
.reponse{
    display:flex;
    font-size:0.9rem;
    justify-content: space-around;
}
.reponse div{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin:10px;
    min-width: 100px;
}
.reponse div label{
    cursor: pointer;
}

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
  
    font: inherit;
    color: currentColor;
    width: 25px;
    height: 25px;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    color:gray;
    display: grid;
    place-content: center;
    margin:5px;
  }
  
  input[type="radio"]::before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: gray;
    color:gray;

  }
  
  input[type="radio"]:checked::before {
    transform: scale(0.65);
    background: linear-gradient(45deg, rgba(14,0,255,1) 0%, rgba(255,0,151,1) 100%);
  }

  input[type="radio"]:checked, input[type="radio"]:checked+label{
    color:rgb(255, 0, 98);
    font-weight: 600;
  }